@media screen and (max-width:600px) {
    html {
        scroll-behavior: smooth;
    }

    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .icons {
        display: none;
    }

    .container {
        flex-direction: column;
        text-align: justify;
    }

    .container-content-1 {
        font-size: 23px;
        padding: 2rem;
    }

    .container-content-2 {
        font-size: 16px;
        padding: 2rem;
    }

    .left {
        width: 100%;
        padding: 0;
    }

    .right {
        width: 100%;
        padding: 0;
    }

    .right>img {
        width: 60%;
        height: auto;
    }
}