html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background: black;
    color: #D9D9D9;
    font-family: "Chakra Petch", sans-serif;
    font-size: 20px;
}

li {
    list-style: none;
}

a {
    color: #d9d9d9;
    text-decoration: none;
}

p {
    word-spacing: 2px;
    line-height: 1.5;
}

span {
    color: #EF945C;
    font-weight: bold;
    text-shadow: 3px 3px 20px grey;
}

.headings {
    font-size: 35px;
    text-shadow: 5px -5px 10px grey;
    color: #38B6FF;
    font-weight: bold;
    text-align: center;
    margin: 1% auto;
}

.next {
    text-align: center;
    font-size: 30px;
    border: none;
    outline: none;
}

.next>a:hover {
    cursor: pointer;
}

.navbar {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

#navbar-name {
    align-content: center;
    color: #EF945C;
    font-size: 30px;
    text-shadow: 2px 2px 20px #EF945C;
}

.navbar>.contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icons {
    display: block;
    color: #FFFFFF;
    font-size: 30px;
    margin: auto 25%;
    border: none;
    transition: all 0.2s;
}

.icons:hover {
    transform: scale(1.7, 1.7);
    transition-timing-function: ease-in-out;
}

.container {
    width: 100%;
}

.con-1 {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 0 100px;
    margin: 50px auto;
}

.con-2,
.con-3,
.con-4,
.con-5 {
    margin: 4% auto;
}

.con-2 {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    justify-content: space-around;
    margin: 6% auto;
}

.con-3,
.con-4 {
    width: 80%;
    display: flex;
    padding: 0px 40px;
    flex-direction: column;
    gap: 20px;
    justify-content: space-evenly;
}

.con-5 {
    width: 20%;
    color: #38B6FF;
    text-align: center;
    font-size: 25px;
    text-shadow: 5px 5px 60px #d9d9d9;
    margin: 5% auto;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
}

.container-content-1,
.container-content-2 {
    text-align: left;
    margin: 0;
}

.container-content-1 {
    text-shadow: 5px 5px 50px #D9D9D9;
    font-size: 45px;
    font-weight: bold;
}

.right {
    width: 50%;
}

.right>img {
    width: 50%;
    height: auto;
    margin: 15% auto 15% 40%;
    border: none;
    border-radius: 50px;
    box-shadow: 5px -5px 20px grey;
    transition: all 0.25s;
}

.con-3-techstack {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    justify-items: center;
    gap: 20px;
}

.con-3-techstack> :nth-child(4) {
    grid-column: 1 / -1;
    justify-self: center;
}

.skill {
    box-sizing: border-box;
    font-size: 25px;
    display: flex;
    color: #EF945C;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    width: 400px;
    height: 300px;
    margin: 30px;
    border: none;
    box-shadow:10px -10px 10px grey;
    border-radius: 40px;
    text-align: center;
    transition: all 0.25s;
}

.skill>i {
    width: auto;
    color: #d9d9d9;
    font-size: 25px;
}

.skill:hover {
    transform: scale(1.2, 1.2);
    transition-timing-function: ease;
    box-shadow: none;
    border: 3px solid grey;
}

.subskill {
    color: #d9d9d9;
    display: flex;
    font-size: 50px;
    justify-content: center;
    align-content: center;
    gap: 15px;
}

.company {
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    border: none;
    border-radius: 50px;
    transition: all 0.25s;
    box-shadow: 2px 2px 2px grey;
}

.company:hover {
    transform: scaleX(1.05);
    transition-timing-function: ease;
    box-shadow: 3px 3px 50px #d9d9d9;
}

.role {
    color: #EF945C;
    font-weight: bold;
}

.project-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 30px;
    box-shadow: -2px -2px 2px grey;
    border-radius: 30px;
    gap: 20px;
    text-align: justify;
    transition: all 0.25s;
}

.project-item:hover {
    transform: translateX(-30px);
    transition-timing-function: ease;
}

.project-item>a {
    color: #56F6A9;
}

.project-name {
    padding: 5px;
    font-weight: bold;
    font-size: 25px;
    color: #EF945C;
}

.contacts-last {
    display: flex;
    font-size: 35px;
    gap: 30px;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

footer {
    font-size: 1em;
    text-align: center;
    padding: 20px;
}