html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: "Jersey 20", sans-serif;
    font-size: large;
    padding: 20px 20px 20px 20px;
}

.nav-name {
    font-family: "Jersey 20", sans-serif;
    list-style: none;
}

.navbar-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

a {
    color: black;
    font-family: "Jersey 20", sans-serif;
    list-style: none;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: black;
    text-underline-offset: 10px;
    transition-duration: 0.5s;
}

#nav-about,
#nav-skills,
#nav-experience,
#nav-projects {
    padding: 5px;
    margin: auto 50px auto 10px;
    list-style: none;
    text-decoration: none;
    text-decoration-color: white;
}

.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
}

#intro-profilepicture>img {
    width: 400px;
    height: 400px;
    border: 2px solid grey;
    border-radius: 30%;
    margin: 100px;
    position: relative;
}

#intro-profilepicture>img:hover {
    box-shadow: 10px 10px 10px grey;
    transition-duration: 0.25s;
}

.intro-summary {
    font-family: "Crimson Text", serif;
    font-size: 20px;
    margin: 100px;
}

#intro-summary-heading {
    font-size: 50px;
    font-family: "Chakra Petch", sans-serif;
}

#summary {
    font-weight: bold;
}

#summary:hover {
    font-weight: bolder;
    color: green;
    text-decoration: underline;
    transition-duration: 0.5s;
    text-underline-offset: 0.5rem;
}

#intro-summary-content-1,
#intro-summary-content-2 {
    text-align: justify;
}

.contacts {
    display: flex;
    justify-content: flex-start;
}

#linkedin {
    display: block;
    width: 30px;
    height: 30px;
    padding-right: 30px;
}

#github {
    display: block;
    width: 30px;
    height: 30px;
    padding-right: 30px;
}

#skills-heading,
#workexperience-heading,
#projects-heading,
#connect-heading {
    text-align: center;
    font-family: "Chakra Petch", sans-serif;
}

.expertise {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 80vh;
    gap: 5px;
}

.webdevelopment,
.blockchaindev,
.deployment {
    width: auto;
    height: auto;
    margin: 10%;
    border: 1px solid black;
    border-radius: 10px;
}

.webdevelopment:hover,
.blockchaindev:hover,
.deployment:hover {
    transition-duration: 0.25s;
    box-shadow: 10px 10px 5px grey;
}

.expertise-headings {
    font-family: "Chakra Petch", sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    text-align: center;
}

.skills {
    font-family: "Chakra Petch", sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills>p:hover {
    font-weight: bolder;
    transition-duration: 0.25s;
    color: purple;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 50px auto;
    font-family: "Crimson Text", serif;
}

.workexperience {
    position: relative;
    width: 45%;
    padding: 10px 50px;
}

.company {
    font-size: 20px;
    padding: 20px 30px;
    position: relative;
}

.company>h2 {
    font-family: "Chakra Petch", sans-serif;
}

.company>ul {
    text-align: justify;
    list-style: square;
}

.company>small {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: grey;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
}

.projects {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90%;
    margin: auto;
}

.project-name {
    font-family: "Chakra Petch", sans-serif;
    font-size: 25px;
}

.project-item {
    height: auto;
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    font-family: "Crimson Text", serif;
    text-align: justify;
    font-size: 20px;
}

.project-item:hover {
    box-shadow: 10px 10px 5px grey;
    transition-duration: 0.25s;
}

.connect-items {
    display: flex;
    justify-content: center;
    width: 100%;
}

footer {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    background-color: grey;
    color: white;
}